useDynLib(casper)

import(IRanges, graphics)
importFrom(GenomicFeatures, transcripts, exonsBy, makeTranscriptDb)
importFrom(mgcv,gam,predict.gam,s)
importFrom(sqldf, sqldf)
importFrom(VGAM,vglm,betabinomial.ab,Coef)
importClassesFrom(GenomicFeatures, TranscriptDb)
importFrom(survival,Surv,survfit)

#export regular functions
export(calcDenovo, calcExp, createDenovoGenome, denovoExpr, getDistrs, getIsland, genePlot, getRoc, mergeBatches, mergeExp, modelPrior, pathCounts, plotPriorAS, posprob, probNonEquiv, procBam, procGenome, relativeExpr, rmShortInserts, simMultSamples, simReads, transcripts, variants, "variants<-", getReads, getNreads, getChr, getIsland, subsetGenome, txLength, wrapKnown)

exportClasses(annotatedGenome, simulatedSamples, pathCounts, procBam)
#export general methods
exportMethods("plot","lines","coef","[","[[","as.list")




